[
	{ rabbit, [
		{log_levels, [{connection, debug}, {channel, debug}]},
        {ssl_listeners, [5671]},
        {ssl_allow_poodle_attack, true},
        {ssl_options, [{cacertfile,"/etc/rabbitmq/ssl/cacert.pem"},
				{certfile,"/etc/rabbitmq/ssl/cert.pem"},
				{keyfile,"/etc/rabbitmq/ssl/key.pem"},
				{verify,verify_peer},
				{fail_if_no_peer_cert,true}]},
        { default_pass, <<"secret">> },
		{ default_user, <<"sensu">> },
		{ default_vhost, <<"/sensu">> }
	] },
	{ rabbitmq_management, [ { listener, [
		{ port, 15672 },
		{ ssl, false }
	] } ] }
].